<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Bhargav Virupaakshi</strong>I'm a front end web designer/developer, skilled in HTML, CSS and JS. I create clean, professional, functional websites. </p>
                </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="code-img">
              <img src="assets/images/4457.jpg" alt="image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>