<div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/2927262.jpg');">
        </div>
        <div class="container">
          <div class="content-center">
            <div class="cc-profile-image">
  
              <a href="#">
                <img src="assets/images/img2.jpg" alt="Image" />
              </a>
            </div>
            <div class="h2 title">Bhargav Virupaakshi</div>
            <p class="category text-white">UI/UX Developer</p>
            <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
              data-aos-anchor="data-aos-anchor">Hire Me</a>
            <a class="btn btn-primary"
              href="insert resume link" target="_blank"
              data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
          </div>
        </div>
      </div>
    </div>
  </div>